.doctorDetailFontSize{
    font-size:  17px;
}

.modal{
    font-size:  20px;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

/*.my-custom-class{
   height: 50%;
   top: 25%;
   bottom: 20%;
   right: 10%;
   left: 10%;
   position:absolute; 
   border-radius: 5%;
   
}

.backdrop-class{
    opacity: 50%;
}*/
