.doctorDetailFontSize{
    font-size:  17px;
}

.modalCus{
    border-radius: 5%;
}

.buttonCus{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size:14px;
  }

.veterimage{
    padding-bottom: 20px;
}
.select-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    
    padding:70% 5%  !important;
 }

 .ion-select{
     max-width: 100% !important;
 }

 .avalialeLabel{
     margin-left: 0%; 
 }

 .slot{
     margin-right: 0%;
     width: 500px;
 }